.fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 62.5px;
    height: 62.5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #2c2c2c, #252525);
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.24);
    z-index: 3000;
    animation: fabShadowWave 1.8s ease-in-out infinite alternate;
}



.wrapper {
    position: fixed;
    bottom: 95px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    z-index: 1000;
}

.message {
    background: linear-gradient(180deg, #2c2c2c, #252525);
    color: #fff;
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 14px;
    max-width: 220px;
    text-align: left;
    line-height: 1.4;
    animation: fadeInUp 0.3s ease-in-out;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.24);
    z-index: 3000;
    animation: fabShadowWave 1.8s ease-in-out infinite alternate;
}




@keyframes fabShadowWave {
    0% {
        box-shadow:
            0 5px 24px rgba(0, 0, 0, 0.24),
            0 0 0 rgba(206, 158, 0, 0);
    }

    50% {
        box-shadow:
            0 6px 28px rgba(206, 158, 0, 0.35),
            0 0 18px rgba(206, 158, 0, 0.5);
    }

    100% {
        box-shadow:
            0 5px 24px rgba(0, 0, 0, 0.24),
            0 0 0 rgba(206, 158, 0, 0);
    }
}

.image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
}




/*  */



/* Simple fade-in animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}