.sec{
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    font-family: var(--font-aclonica);
    color: white;
    font-size: 1.5rem;
}

.text2{
    margin-top: 10px;
    font-family: var(--font-aclonica);
    color: #FFD700;
    font-size: 1rem;
}

@media (max-width: 480px) {
    .text{
    font-size: 1rem ;
    }
.text2{
    font-size: 0.8rem ;
    }
}